<div class="dialog-2" [ngStyle]="{display:hidden?'none':''}" (click)="close()">
    <div class="center backdrop-filter" [ngStyle]="{opacity:hidden?0:1}">
        <div class="title">Choose a Wallet</div>
        <ul>
            <app-wallet-item [isMobile]="isMobile" [index]="0" (onMouseEnter)="onItemMouseEnter($event)"
                (onMouseLeave)="onItemMouseLeave($event)"></app-wallet-item>
            <app-wallet-item [isMobile]="isMobile" [index]="1" (onMouseEnter)="onItemMouseEnter($event)"
                (onMouseLeave)="onItemMouseLeave($event)"></app-wallet-item>
            <app-wallet-item [isMobile]="isMobile" [index]="2" (onMouseEnter)="onItemMouseEnter($event)"
                (onMouseLeave)="onItemMouseLeave($event)"></app-wallet-item>
            <app-wallet-item [isMobile]="isMobile" [index]="3" (onMouseEnter)="onItemMouseEnter($event)"
                (onMouseLeave)="onItemMouseLeave($event)"></app-wallet-item>
            <div class="checked" [ngStyle]="{top:(70*selectedIndex)+'px',display:isMobile?'none':''}">
            </div>
        </ul>

    </div>
</div>