<div class="dialog-2" [ngStyle]="{display:hidden?'none':''}">
    <div class="center backdrop-filter">
        <div class="title">Choose a Wallet</div>
        <ul>
            <li class="active">
                <div class="icon">
                    <img src="assets/static//img/btc.png" alt="">
                </div>
                <div class="name" index='0'>BTC</div>
            </li>
            <li>
                <div class="icon">
                    <img src="assets/static//img/btc.png" alt="">
                </div>
                <div class="name" index='1'>BTC</div>
            </li>
            <li>
                <div class="icon">
                    <img src="assets/static//img/btc.png" alt="">
                </div>
                <div class="name" index='2'>BTC</div>
            </li>
            <li>
                <div class="icon">
                    <img src="assets/static//img/btc.png" alt="">
                </div>
                <div class="name" index='3'>BTC</div>
            </li>
            <div class="checked">
            </div>
        </ul>

    </div>
</div>