<div class="assetDiv">
    <div class="main">
        <div class="tittle">
            <div></div>
            <p>Pool's Reward Info</p>
        </div>
        <div class="sum">
            <div>Allocation Percent:</div>
            <div>{{allocationPercent().toFixed(2,1)}}%</div>
        </div>
        <!-- <div class="sum">
            <div>{{boot.tokenSymbol}} per Share:</div>
            <div>{{boot.poolInfo.accTokenPerShare.toFormat(4,1)}}</div>
        </div> -->
        <!-- <div class="sum">
            <div>LP farming Percent:</div>
            <div>{{farmingRewardPercent().toFixed(0,1)}}% ({{farmingRewardAmt()}})</div>
        </div> -->
        <!-- <div class="sum">
            <div>Volume Percent:</div>
            <div>{{volRewardPercent().toFixed(0,1)}}% ({{volRewardAmt()}})</div>
        </div> -->
        <div class="sum">
            <div>Total Volume:</div>
            <div>{{boot.poolInfo.volume.toFormat(4,1)}}</div>
        </div>
        <!-- <div class="sum">
            <div>Total Volume Reward:</div>
            <div>{{boot.poolInfo.totalVolReward.toFormat(4,1)}}</div>
        </div> -->
        <div class="sum">
            <div>{{boot.tokenSymbol}} Total Supply:</div>
            <div>{{boot.poolInfo.tokenTotalSupply.toFormat(4,1)}}</div>
        </div>
        <div class="sum">
            <div>Pool's APY:</div>
            <div>{{getAPY()}}%</div>
        </div>
        <div class="sum">
            <div>Start Block:</div>
            <div>{{boot.poolInfo.startBlock.toFormat(0,1)}}</div>
        </div>
        <div class="sum">
            <div>Bonus End Block(10x):</div>
            <div>{{boot.poolInfo.bonusEndBlock.toFormat(0,1)}}</div>
        </div>
        <div class="sum">
            <div>Token Per Block:</div>
            <div>{{boot.poolInfo.tokenPerBlock.toFormat(0,1)}} {{boot.tokenSymbol}}</div>
        </div>
        <!-- <div class="sum">
            <div>{{boot.liquiditySymbol}} Balance:</div>
            <div>{{boot.poolInfo.totalLPStaking.toFormat(4,1)}}</div>
        </div> -->
    </div>
</div>