<!-- swap -->
<div class="swap-box" [ngStyle]="{display:hidden?'none':'flex'}">
    <div class="box-cont">
        <div class="left">
            <div class="box-top">From</div>
            <input type="num" class="num" value="0">
        </div>
        <div class="right">
            <div class="balance">
                <div class="text">
                    Balance: 9786
                </div>
                <div class="balance-bottom">
                    <div class="bottom-box blue">MAX</div>
                </div>
            </div>
            <div class="line">
                <div class="l"></div>
            </div>
            <div class="coin" (click)="chooseCoin('i')">
                <div class="img">
                    <img src="assets/static/img/btc.png" alt="">
                </div>
                <div class="name">BTC</div>
            </div>
            <div class="triangle">
                <img src="assets/static//img/triangle.png" alt="">
            </div>
        </div>
    </div>
    <div class="to">
        <img src="assets/static/img/exchange.png" alt="">
    </div>
    <div class="box-cont">
        <div class="left">
            <div class="box-top">To</div>
            <input type="num" class="num" value="0">
        </div>
        <div class="right">
            <div class="balance">
                <div class="text">
                    Balance: 9786
                </div>
                <div class="balance-bottom">
                    <div class="bottom-box">Approve</div>
                </div>
            </div>
            <div class="line">
                <div class="l"></div>
            </div>
            <div class="coin" (click)="chooseCoin('j')">
                <div class="img">
                    <img src="assets/static/img/btc.png" alt="">
                </div>
                <div class="name">BTC</div>
            </div>
            <div class="triangle">
                <img src="assets/static//img/triangle.png" alt="">
            </div>
        </div>
    </div>
    <div class="btn">
        Connect to a Wallet
    </div>
    <div class="fee">
        fee: <span>0.1%</span>
    </div>
</div>
<app-coins-dlg #coinsDlg></app-coins-dlg>