<!-- swap -->
<div class="swap-box" [ngStyle]="{display:hidden?'none':'flex'}">
    <div class="box-cont">
        <div class="left">
            <div class="box-top">From</div>
            <input type="num" class="num" [ngModel]="amt" (ngModelChange)="amtChanged($event)">
        </div>
        <div class="right">
            <div class="balance">
                <div class="text">
                    {{"Balance"|translate}}: {{boot.balance.coinsBalance[left].toFormat(4,1)}}
                </div>
                <div class="balance-bottom">
                    <div class="bottom-box blue" (click)="maxAmt()">MAX</div>
                    &nbsp;
                    <div class="bottom-box blue" *ngIf="isApproveEnabled()" (click)="approve()">Approve</div>
                </div>
            </div>
            <div class="line">
                <div class="l"></div>
            </div>
            <div class="coin" (click)="openCoinLeftDlg()">
                <div class="img">
                    <img src="assets/static/img/coins/{{boot.poolId}}-c{{left}}.png" alt="">
                </div>
                <div class="name">{{boot.coins[left].symbol}}</div>
            </div>
            <div class="triangle">
                <img src="assets/static//img/triangle.png" alt="">
            </div>
        </div>
    </div>
    <div class="to">
        <img src="assets/static/img/exchange.png" alt="">
    </div>
    <div class="box-cont">
        <div class="left">
            <div class="box-top">To</div>
            <input type="num" class="num" name="minAmt" [(ngModel)]="minAmt">
        </div>
        <div class="right">
            <div class="balance">
                <div class="text">
                    {{"Balance"|translate}}: {{boot.balance.coinsBalance[right].toFormat(4,1)}}
                </div>
                <div class="balance-bottom">
                    <!-- <div class="bottom-box">Approve</div> -->
                </div>
            </div>
            <div class="line">
                <div class="l"></div>
            </div>
            <div class="coin" (click)="openCoinRightDlg()">
                <div class="img">
                    <img src="assets/static/img/coins/{{boot.poolId}}-c{{right}}.png" alt="">
                </div>
                <div class="name">{{boot.coins[right].symbol}}</div>
            </div>
            <div class="triangle">
                <img src="assets/static//img/triangle.png" alt="">
            </div>
        </div>
    </div>
    <div [ngClass]="{'btn-disabled':!isExchangeEnabled(),'btn':isExchangeEnabled()}" *ngIf="boot.accounts.length>0"
        (click)="exchange()">
        {{"Exchange"|translate}}
    </div>
    <div class="btn" *ngIf="boot.accounts.length==0" (click)="connectWallet()">
        {{"Connect to a Wallet"|translate}}
    </div>
    <div class="fee">
        {{"Fee"|translate}}: <span>{{getFee()}}%</span>
    </div>
</div>
<app-coins-dlg #coinsDlgLeft (coinSelected)="onLeftCoinSelected($event)"></app-coins-dlg>
<app-coins-dlg #coinsDlgRight (coinSelected)="onRightCoinSelected($event)"></app-coins-dlg>