<!-- manage -->
<div class="manage-box" [ngStyle]="{display:hidden?'none':'flex'}">
    <div class="title">
        <div class="left">
            0.00000
            <span>BSLP-01</span>
        </div>
        <div class="right">
            0.1%
        </div>
    </div>
    <div class="box-cont">
        <div class="left">
            <input type="num" class="num" value="0">
        </div>
        <div class="right">
            <div class="approve">
                <div class="text">
                    Approve
                </div>
            </div>
            <div class="line">
                <div class="line-cont"></div>
            </div>
            <div class="coin">
                <div class="img">
                    <img src="assets/static/img/btc.png" alt="">
                </div>
                <div class="name">BTC</div>
            </div>
        </div>
    </div>
    <div class="box-cont">
        <div class="left">
            <input type="num" class="num" value="0">
        </div>
        <div class="right">
            <div class="approve">
                <div class="text">
                    Approve
                </div>
            </div>
            <div class="line">
                <div class="line-cont"></div>
            </div>
            <div class="coin">
                <div class="img">
                    <img src="assets/static/img/btc.png" alt="">
                </div>
                <div class="name">BTC</div>
            </div>
        </div>
    </div>
    <div class="box-cont">
        <div class="left">
            <input type="num" class="num" value="0">
        </div>
        <div class="right">
            <div class="approve">
                <div class="text">
                    Approve
                </div>
            </div>
            <div class="line">
                <div class="line-cont"></div>
            </div>
            <div class="coin">
                <div class="img">
                    <img src="assets/static/img/btc.png" alt="">
                </div>
                <div class="name">BTC</div>
            </div>
        </div>
    </div>
    <div class="onoff">
        <div class="text">Redeem to all coins</div>
        <div class="bg-box">
            <!-- <div class="bg"></div> -->
            <div class="box"></div>
        </div>
    </div>
    <div class="btn">
        Connect to a Wallet
    </div>
</div>