<!-- stake -->
<div class="stake-box" [ngStyle]="{display:hidden?'none':'flex'}">
    <div class="title">
        <div class="box"></div>
        <div class="text">stake & reward</div>
    </div>
    <div class="pand">
        <div class="pand-top">
            <div class="left">
                BSLP-01
            </div>
            <div class="right">
                Balance: 9786
            </div>
        </div>
        <div class="pand-bottom">
            <input type="num" class="num" value="0">
            <div class="text">Deposit LP</div>
        </div>
    </div>
    <div class="pand">
        <div class="pand-top">
            <div class="left">
                BSLP-01
            </div>
            <div class="right">
                Balance: 9786
            </div>
        </div>
        <div class="pand-bottom">
            <input type="num" class="num" value="0">
            <div class="text">Withdraw LP</div>
        </div>
    </div>
    <div class="stake-btn">
        <div class="left">
            0.0000
            <span>Pending BST</span>
        </div>
        <div class="right">
            Get Pending BST
        </div>
    </div>
</div>