<!-- add -->
<div class="add-box" [ngStyle]="{display:hidden?'none':'flex'}">
    <div class="box-cont">
        <div class="left">
            <div class="box-top">Balance: 9786</div>
            <!-- <div class="num">0</div> -->
            <input type="num" class="num" value="0">
        </div>
        <div class="right">
            <div class="approve">
                <div class="text blue">
                    Approve
                </div>
            </div>
            <div class="line">
                <div class="line-cont"></div>
            </div>
            <div class="coin">
                <div class="img">
                    <img src="assets/static/img/btc.png" alt="">
                </div>
                <div class="name">BTC</div>
            </div>
        </div>
    </div>
    <div class="box-cont">
        <div class="left">
            <div class="box-top">Balance: 9786</div>
            <!-- <div class="num">2222</div> -->
            <input type="num" class="num" value="222">
        </div>
        <div class="right">
            <div class="approve">
                <div class="text">
                    Approve
                </div>
            </div>
            <div class="line">
                <div class="line-cont"></div>
            </div>
            <div class="coin">
                <div class="img">
                    <img src="assets/static/img/btc.png" alt="">
                </div>
                <div class="name">BTC</div>
            </div>
        </div>
    </div>
    <div class="box-cont">
        <div class="left">
            <div class="box-top">Balance: 9786</div>
            <input type="num" class="num" value="222">
        </div>
        <div class="right">
            <div class="approve">
                <div class="text">
                    Approve
                </div>
            </div>
            <div class="line">
                <div class="line-cont"></div>
            </div>
            <div class="coin">
                <div class="img">
                    <img src="assets/static/img/btc.png" alt="">
                </div>
                <div class="name">BTC</div>
            </div>
        </div>
    </div>
    <div class="btn">
        Connect to a Wallet
    </div>
</div>