<!-- stake -->
<div class="stake-box" [ngStyle]="{display:hidden?'none':'flex'}">
    <div class="title">
        <div class="box"></div>
        <div class="text">Stake BSLP-01</div>
    </div>
    <div class="pand">
        <div class="pand-top">
            <div class="left">
                {{boot.tokenSymbol}}
            </div>
            <div class="right">
                {{"Balance"|translate}}: {{boot.balance.tokenBalance.toFormat(4, 1)}}
            </div>
        </div>
        <div class="pand-top-box">
            <div class="pand-top-box-content">
                <div class="left">
                    {{boot.liquiditySymbol}}
                </div>
                <div class="right">
                    {{"Balance"|translate}}: {{boot.balance.lp.toFormat(4, 1)}}
                </div>
            </div>
            <div class="pand-bottom">
                <input type="number" style="width: 25%" class="num" name="depositPercent" [ngModel]="depositPercent"
                       (ngModelChange)="depositPercentChange($event)"><span style="font-size:22px;">%</span>
                <div class="text" *ngIf="needApproveLP&&(loadStatus===0||loadStatus===2)" [ngClass]="{blue:needApproveLP&&(loadStatus===0||loadStatus===2)}"
                     (click)="approveLP()">
                    Approve
                </div>
                <div class="text" [ngClass]="{blue:!needApproveLP&&(loadStatus===0||loadStatus===2)}"
                     (click)="depositLP()">
                    Deposit LP
                </div>
            </div>
        </div>
    </div>
    <div class="pand">
        <div class="pand-top-box">
        <div class="pand-top-box-content">
            <div class="left">
                {{boot.liquiditySymbol}}
            </div>
            <div class="right">
                Staking: {{boot.balance.stakingLP.toFixed(4, 1)}}
            </div>
        </div>
            <div class="pand-bottom">
                <input type="num" class="num" name="withdrawLPPercent" [ngModel]="withdrawLPPercent"
                       (ngModelChange)="withdrawLPPercentChange($event)"><span style="font-size:22px;">%</span>
                <div class="text" [ngClass]="{blue:loadStatus===0||loadStatus===2}" (click)="withdrawLP()">Withdraw LP
                </div>
            </div>
        </div>
    </div>
    <div class="stake-btn">
        <div class="left">
            {{boot.balance.pendingToken.toFixed(4, 1)}}
            <span>Pending BST</span>
        </div>
        <div class="right" *ngIf="boot.accounts.length>0" (click)="getPending()">
            Get Pending {{boot.tokenSymbol}}
        </div>
        <div class="right" *ngIf="boot.accounts.length==0" (click)="connectWallet()">
            {{"Connect to a Wallet"|translate}}
        </div>
    </div>
</div>
